<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<bean id="solrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
		<constructor-arg type="java.lang.String" value="192.168.142.142:2181,192.168.142.142:2182,192.168.142.142:2183"></constructor-arg>
		<property name="defaultCollection" value="collection1"></property>
	</bean>
</beans>

